<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>KobApp</string>
	<key>CFBundleIdentifier</key>
	<string>it.mobit.kobeapp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.37</string>
	<key>CFBundleVersion</key>
	<string>1.37</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleName</key>
	<string>KobApp</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/icons.xcassets/LaunchImages.launchimage</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>L&apos;applicativo utilizza la fotocamera per la scansione dei codici a barre</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>L&apos;applicativo utilizza la localizzazione per cercare le fermate</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>XSAppIconAssets</key>
	<string>Resources/icons.xcassets/AppIcons.appiconset</string>
</dict>
</plist>
